*.DS_Store
/Misc/.DS_Store
/Doc/.DS_Store
/Misc/Preregistration/~$eregistration.docx
/Data/~$LLM_output_reviews.xIsx

**/__pycache__/
$.*
/Doc/*.apf
/Doc/*.apt
/Doc/*.aux
/Doc/*.bbl
/Doc/*.fdb_latexmk
/Doc/*.fls
/Doc/*.log
/Doc/*.out
/Doc/main.synctex.gz
/Doc/*.thm
/Doc/*.toc
